body { 
    font-family: sans-serif; 
    background: #f0f2f5;
}

.menu { 
    background: #3b4aa9; 
    padding: 1em; 
    display: flex; 
    gap: 2em;
    height: 50px;
    align-items: center;
    padding-left: 40px;
}

.menu button { 
    margin-right: 8px; 
    border: none;
    background-color: #3b4aa9;
    font-size: 20px;
    font-family: Baskerville old face;
    color: white; 
}

.up{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up input,select,textarea{
    background-color:#ececed;
    color: rgb(42, 38, 38);
    border: none;
    font-family: Cambria;
    font-size: 15px; 
}

#itemForm{
    width: 800px;
    background-color: rgb(201, 211, 232) ;
}
    
form { 
    padding: 1em; 
    border-radius: 8px; 
    max-width: 500px; 
    box-shadow: 2px 4px 8px #ccc;
}

.item { 
     background-color: rgb(201, 211, 232) ;
    margin: 1em 0; 
    padding: 1em; 
    border-radius: 8px; 
    box-shadow: 1px 2px 4px #ccc;
}

.btn{ 
     background-color: aliceblue;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:#3a3a3e;
    cursor: pointer;
}

.edit-btn { 
    color: #333; 
    background: #ffc107; 
    border: none; 
    border-radius: 0.3em; 
    padding: 5px 1em; 
    cursor: pointer;
}